### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [316]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [317]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [318]:
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [319]:
total_number_of_schools = len(school_data_complete_df["school_name"].unique())
total_number_of_schools

15

In [320]:
total_number_of_students = school_data_df["size"].sum()
total_number_of_students

39170

In [321]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [322]:
average_maths_score = school_data_complete_df["maths_score"].mean()
average_maths_score

70.33819249425581

In [323]:
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

69.98013786060761

In [334]:
Passing_maths = school_data_complete_df["maths_score"].loc[school_data_complete_df.maths_score > 49].count()
Passing_maths

33717

In [335]:
Percent_Passing_maths = (Passing_maths/total_number_of_students)*100
Percent_Passing_maths

86.07863160582077

In [336]:
Passing_reading = school_data_complete_df["reading_score"].loc[school_data_complete_df.reading_score > 49].count()
Passing_reading

33070

In [337]:
Percent_Passing_reading = (Passing_reading/total_number_of_students)*100
Percent_Passing_reading

84.42685728874139

In [345]:
total_passing_maths_reading = school_data_complete_df["maths_score"].loc[(school_data_complete_df["maths_score"] > 49) & (school_data_complete_df["reading_score"] > 49)]
total_passing_maths_reading.count()

28519

In [346]:
total_passing_maths_reading = (total_passing_maths_reading.count()/total_number_of_students)*100
total_passing_maths_reading

72.80827163645647

In [347]:
local_gov_area_summary_df = pd.DataFrame ({"Total Schools":[total_number_of_schools], "Total Students":[total_number_of_students], "Total Budget":[total_budget], "Average Maths Score":[average_maths_score], "Average Reading Score":[average_reading_score], "% Passing Maths":[Percent_Passing_maths], "% Passing Reading":[Percent_Passing_reading], "% Overall Passing":[total_passing_maths_reading]})
local_gov_area_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [348]:
organized_df = school_data_complete_df[["school_name","type","size","budget",'year','maths_score','reading_score']]
organized_df.head()

,school_name,type,size,budget,year,maths_score,reading_score
0,Huang High School,Government,2917,1910635,9,94,96
1,Huang High School,Government,2917,1910635,12,43,90
2,Huang High School,Government,2917,1910635,12,76,41
3,Huang High School,Government,2917,1910635,12,86,89
4,Huang High School,Government,2917,1910635,9,69,87

In [349]:
renamed_df = organized_df.rename(columns={"school_name":"School Name","type":"School Type","size":"Total Students","budget":"Total School Budget",'year':"Year",'maths_score':"Maths Score",'reading_score':"Reading Score"})
renamed_df.head()

,School Name,School Type,Total Students,Total School Budget,Year,Maths Score,Reading Score
0,Huang High School,Government,2917,1910635,9,94,96
1,Huang High School,Government,2917,1910635,12,43,90
2,Huang High School,Government,2917,1910635,12,76,41
3,Huang High School,Government,2917,1910635,12,86,89
4,Huang High School,Government,2917,1910635,9,69,87

In [350]:
renamed_df.columns

Index(['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Year', 'Maths Score', 'Reading Score'],
      dtype='object')

In [362]:
School_Name_Type_group = renamed_df.groupby(["School Name", 'School Type','Total Students', 'Total School Budget'])
School_Name_Type_group

In [363]:
School_Name_Type_df = School_Name_Type_group.sum()
School_Name_Type_df

,,,,Year,Maths Score,Reading Score
School Name,School Type,Total Students,Total School Budget,,,
Bailey High School,Government,4976,3124928,51609,360028,353340
Cabrera High School,Independent,1858,1081356,19298,133139,132586
Figueroa High School,Government,2949,1884411,30585,202592,203711
Ford High School,Government,2739,1763916,28294,189241,190559
Griffin High School,Independent,1468,917500,15216,105385,104588
Hernandez High School,Government,4635,3022020,47932,319235,320679
Holden High School,Independent,427,248087,4412,30993,30599
Huang High School,Government,2917,1910635,30217,201084,201012
Johnson High School,Government,4761,3094650,49280,327762,328696
Pena High School,Independent,962,585858,9963,69349,68892
Rodriguez High School,Government,3999,2547363,41410,288119,283673
Shelton High School,Independent,1761,1056600,18234,126852,123724
Thomas High School,Independent,1635,1043130,16980,113766,114072
Wilson High School,Independent,2283,1319574,23692,157917,157246
Wright High School,Independent,1800,1049400,18663,129685,127745

In [365]:
School_Name_Type_df.reset_index(inplace=True)
School_Name_Type_df

,index,School Name,School Type,Total Students,Total School Budget,Year,Maths Score,Reading Score
0,0,Bailey High School,Government,4976,3124928,51609,360028,353340
1,1,Cabrera High School,Independent,1858,1081356,19298,133139,132586
2,2,Figueroa High School,Government,2949,1884411,30585,202592,203711
3,3,Ford High School,Government,2739,1763916,28294,189241,190559
4,4,Griffin High School,Independent,1468,917500,15216,105385,104588
5,5,Hernandez High School,Government,4635,3022020,47932,319235,320679
6,6,Holden High School,Independent,427,248087,4412,30993,30599
7,7,Huang High School,Government,2917,1910635,30217,201084,201012
8,8,Johnson High School,Government,4761,3094650,49280,327762,328696
9,9,Pena High School,Independent,962,585858,9963,69349,68892
10,10,Rodriguez High School,Government,3999,2547363,41410,288119,283673
11,11,Shelton High School,Independent,1761,1056600,18234,126852,123724
12,12,Thomas High School,Independent,1635,1043130,16980,113766,114072
13,13,Wilson High School,Independent,2283,1319574,23692,157917,157246
14,14,Wright High School,Independent,1800,1049400,18663,129685,127745

In [366]:
School_Name_Type_df["Per Student Budget"] = School_Name_Type_df["Total School Budget"]/School_Name_Type_df["Total Students"]
School_Name_Type_df["Per Student Budget"]

0     628.0
1     582.0
2     639.0
3     644.0
4     625.0
5     652.0
6     581.0
7     655.0
8     650.0
9     609.0
10    637.0
11    600.0
12    638.0
13    578.0
14    583.0
Name: Per Student Budget, dtype: float64

In [367]:
School_Name_Type_df

,index,School Name,School Type,Total Students,Total School Budget,Year,Maths Score,Reading Score,Per Student Budget
0,0,Bailey High School,Government,4976,3124928,51609,360028,353340,628.0
1,1,Cabrera High School,Independent,1858,1081356,19298,133139,132586,582.0
2,2,Figueroa High School,Government,2949,1884411,30585,202592,203711,639.0
3,3,Ford High School,Government,2739,1763916,28294,189241,190559,644.0
4,4,Griffin High School,Independent,1468,917500,15216,105385,104588,625.0
5,5,Hernandez High School,Government,4635,3022020,47932,319235,320679,652.0
6,6,Holden High School,Independent,427,248087,4412,30993,30599,581.0
7,7,Huang High School,Government,2917,1910635,30217,201084,201012,655.0
8,8,Johnson High School,Government,4761,3094650,49280,327762,328696,650.0
9,9,Pena High School,Independent,962,585858,9963,69349,68892,609.0
10,10,Rodriguez High School,Government,3999,2547363,41410,288119,283673,637.0
11,11,Shelton High School,Independent,1761,1056600,18234,126852,123724,600.0
12,12,Thomas High School,Independent,1635,1043130,16980,113766,114072,638.0
13,13,Wilson High School,Independent,2283,1319574,23692,157917,157246,578.0
14,14,Wright High School,Independent,1800,1049400,18663,129685,127745,583.0

In [368]:
School_Name_Type_df.columns

Index(['index', 'School Name', 'School Type', 'Total Students',
       'Total School Budget', 'Year', 'Maths Score', 'Reading Score',
       'Per Student Budget'],
      dtype='object')

In [369]:
organized_School_Name_Type_df = School_Name_Type_df[["index",'School Name', 'School Type', 'Total Students','Total School Budget','Per Student Budget','Year', 'Maths Score', 'Reading Score']]
organized_School_Name_Type_df

,index,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Year,Maths Score,Reading Score
0,0,Bailey High School,Government,4976,3124928,628.0,51609,360028,353340
1,1,Cabrera High School,Independent,1858,1081356,582.0,19298,133139,132586
2,2,Figueroa High School,Government,2949,1884411,639.0,30585,202592,203711
3,3,Ford High School,Government,2739,1763916,644.0,28294,189241,190559
4,4,Griffin High School,Independent,1468,917500,625.0,15216,105385,104588
5,5,Hernandez High School,Government,4635,3022020,652.0,47932,319235,320679
6,6,Holden High School,Independent,427,248087,581.0,4412,30993,30599
7,7,Huang High School,Government,2917,1910635,655.0,30217,201084,201012
8,8,Johnson High School,Government,4761,3094650,650.0,49280,327762,328696
9,9,Pena High School,Independent,962,585858,609.0,9963,69349,68892
10,10,Rodriguez High School,Government,3999,2547363,637.0,41410,288119,283673
11,11,Shelton High School,Independent,1761,1056600,600.0,18234,126852,123724
12,12,Thomas High School,Independent,1635,1043130,638.0,16980,113766,114072
13,13,Wilson High School,Independent,2283,1319574,578.0,23692,157917,157246
14,14,Wright High School,Independent,1800,1049400,583.0,18663,129685,127745

In [371]:
organized_School_Name_Type_df["Average Maths Score"] = organized_School_Name_Type_df["Maths Score"].sum/["Total_students"]
organized_School_Name_Type_df["Average Maths Score"]

TypeError: unsupported operand type(s) for /: 'method' and 'list'

In [ ]:
school_summary_df = pd.DataFrame (grouped_df[["School Name"]['School Type']['Total Students']['Total School Budget']])
school_summary_df

In [ ]:
Total_students_and_budget_df = pd.DataFrame(grouped_df[[]])

In [ ]:
Total_students_and_budget_df = grouped_df[["Total Students", "Total School Budget"]]
Total_students_and_budget_df

In [ ]:
Bailey_High_School_df = grouped_df[['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Year', 'Maths Score', 'Reading Score']]
Cabrera_High_School_df =
Figueroa_High_School_df =
Ford_High_School_df =
Griffin_High_School_df =	
Hernandez_High_School_df =
Holden_High_School_df =
Huang_High_School_df =
Johnson_High_School_df = 
Pena_High_School_df =
Rodriguez_High_School_df =	
Shelton_High_School_df =
Thomas_High_School_df =
Wilson_High_School_df =
Wright_High_School_df =

In [ ]:
Schools = renamed_df["School Name"].unique()
Schools

In [ ]:
Huang_High_School_df = renamed_df.groupby["School Name", "School Type", "Total Students", "Total School Budget"]
budget_df = grouped_df.reset_index(drop=True)
budget_df.head()

In [ ]:
grouped_df[[]]

In [ ]:
school_summary_df = grouped_df.set_index("School Name")
school_summary_df.head()

In [ ]:
school_summary_df([{"School Name":'school_name', "Total Students":'size', "Total Budget":'budget', "Average Maths Score":'average_maths_score', "Average Reading Score":'average_reading_score', "% Passing Maths":'Percent_Passing_maths', "% Passing Reading":'Percent_Passing_reading', "% Overall Passing":'total_passing_maths_reading'}])

In [ ]:
'Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'

In [ ]:
school_summary_df = pd.DataFrame ([{"School Name":'school_name', "Total Students":'size', "Total Budget":'budget', "Average Maths Score":'average_maths_score', "Average Reading Score":'average_reading_score', "% Passing Maths":'Percent_Passing_maths', "% Passing Reading":'Percent_Passing_reading', "% Overall Passing":'total_passing_maths_reading'}])
school_summary_df.head()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type