### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [780]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [781]:
total_number_of_schools = len(school_data_complete_df["school_name"].unique())
total_number_of_schools

15

In [782]:
total_number_of_students = school_data_df["size"].sum()
total_number_of_students

39170

In [783]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [784]:
average_maths_score = school_data_complete_df["maths_score"].mean()
average_maths_score

70.33819249425581

In [785]:
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

69.98013786060761

In [786]:
Passing_maths = school_data_complete_df["maths_score"].loc[school_data_complete_df.maths_score > 49].count()
Passing_maths

33717

In [787]:
Percent_Passing_maths = (Passing_maths/total_number_of_students)*100
Percent_Passing_maths

86.07863160582077

In [788]:
Passing_reading = school_data_complete_df["reading_score"].loc[school_data_complete_df.reading_score > 49].count()
Passing_reading

33070

In [789]:
Percent_Passing_reading = (Passing_reading/total_number_of_students)*100
Percent_Passing_reading

84.42685728874139

In [790]:
total_passing_maths_reading = school_data_complete_df["maths_score"].loc[(school_data_complete_df["maths_score"] > 49) & (school_data_complete_df["reading_score"] > 49)]
total_passing_maths_reading.count()

28519

In [791]:
total_passing_maths_reading = (total_passing_maths_reading.count()/total_number_of_students)*100
total_passing_maths_reading

72.80827163645647

In [851]:
area_summary_df = pd.DataFrame ({"Total Schools":[total_number_of_schools], "Total Students":[total_number_of_students], "Total Budget":[total_budget], "Average Maths Score":[average_maths_score], "Average Reading Score":[average_reading_score], "% Passing Maths":[Percent_Passing_maths], "% Passing Reading":[Percent_Passing_reading], "% Overall Passing":[total_passing_maths_reading]})
area_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [869]:
area_summary_df.to_csv("area_summary.csv", index = False, header=True)

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [793]:
organized_df = school_data_complete_df[["school_name","type","size","budget",'year','maths_score','reading_score']]
organized_df.head()

,school_name,type,size,budget,year,maths_score,reading_score
0,Huang High School,Government,2917,1910635,9,94,96
1,Huang High School,Government,2917,1910635,12,43,90
2,Huang High School,Government,2917,1910635,12,76,41
3,Huang High School,Government,2917,1910635,12,86,89
4,Huang High School,Government,2917,1910635,9,69,87

In [794]:
renamed_df = organized_df.rename(columns={"school_name":"School Name","type":"School Type","size":"Total Students","budget":"Total School Budget",'year':"Year",'maths_score':"Maths Score",'reading_score':"Reading Score"})
renamed_df.head()

,School Name,School Type,Total Students,Total School Budget,Year,Maths Score,Reading Score
0,Huang High School,Government,2917,1910635,9,94,96
1,Huang High School,Government,2917,1910635,12,43,90
2,Huang High School,Government,2917,1910635,12,76,41
3,Huang High School,Government,2917,1910635,12,86,89
4,Huang High School,Government,2917,1910635,9,69,87

In [795]:
renamed_df.columns

Index(['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Year', 'Maths Score', 'Reading Score'],
      dtype='object')

In [796]:
School_Name_Type_group = renamed_df.groupby(["School Name", 'School Type','Total Students', 'Total School Budget'])
School_Name_Type_group

In [797]:
School_Name_Type_df = School_Name_Type_group.sum()
School_Name_Type_df

,,,,Year,Maths Score,Reading Score
School Name,School Type,Total Students,Total School Budget,,,
Bailey High School,Government,4976,3124928,51609,360028,353340
Cabrera High School,Independent,1858,1081356,19298,133139,132586
Figueroa High School,Government,2949,1884411,30585,202592,203711
Ford High School,Government,2739,1763916,28294,189241,190559
Griffin High School,Independent,1468,917500,15216,105385,104588
Hernandez High School,Government,4635,3022020,47932,319235,320679
Holden High School,Independent,427,248087,4412,30993,30599
Huang High School,Government,2917,1910635,30217,201084,201012
Johnson High School,Government,4761,3094650,49280,327762,328696
Pena High School,Independent,962,585858,9963,69349,68892
Rodriguez High School,Government,3999,2547363,41410,288119,283673
Shelton High School,Independent,1761,1056600,18234,126852,123724
Thomas High School,Independent,1635,1043130,16980,113766,114072
Wilson High School,Independent,2283,1319574,23692,157917,157246
Wright High School,Independent,1800,1049400,18663,129685,127745

In [798]:
School_Name_Type_df.reset_index(inplace=True)
School_Name_Type_df

,School Name,School Type,Total Students,Total School Budget,Year,Maths Score,Reading Score
0,Bailey High School,Government,4976,3124928,51609,360028,353340
1,Cabrera High School,Independent,1858,1081356,19298,133139,132586
2,Figueroa High School,Government,2949,1884411,30585,202592,203711
3,Ford High School,Government,2739,1763916,28294,189241,190559
4,Griffin High School,Independent,1468,917500,15216,105385,104588
5,Hernandez High School,Government,4635,3022020,47932,319235,320679
6,Holden High School,Independent,427,248087,4412,30993,30599
7,Huang High School,Government,2917,1910635,30217,201084,201012
8,Johnson High School,Government,4761,3094650,49280,327762,328696
9,Pena High School,Independent,962,585858,9963,69349,68892
10,Rodriguez High School,Government,3999,2547363,41410,288119,283673
11,Shelton High School,Independent,1761,1056600,18234,126852,123724
12,Thomas High School,Independent,1635,1043130,16980,113766,114072
13,Wilson High School,Independent,2283,1319574,23692,157917,157246
14,Wright High School,Independent,1800,1049400,18663,129685,127745

In [799]:
School_Name_Type_df["Per Student Budget"] = School_Name_Type_df["Total School Budget"]/School_Name_Type_df["Total Students"]
School_Name_Type_df["Per Student Budget"]

0     628.0
1     582.0
2     639.0
3     644.0
4     625.0
5     652.0
6     581.0
7     655.0
8     650.0
9     609.0
10    637.0
11    600.0
12    638.0
13    578.0
14    583.0
Name: Per Student Budget, dtype: float64

In [852]:
per_school_summary_df = School_Name_Type_df[['School Name', 'School Type', 'Total Students','Total School Budget','Per Student Budget','Year', 'Maths Score', 'Reading Score']]
per_school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Year,Maths Score,Reading Score
0,Bailey High School,Government,4976,3124928,628.0,51609,360028,353340
1,Cabrera High School,Independent,1858,1081356,582.0,19298,133139,132586
2,Figueroa High School,Government,2949,1884411,639.0,30585,202592,203711
3,Ford High School,Government,2739,1763916,644.0,28294,189241,190559
4,Griffin High School,Independent,1468,917500,625.0,15216,105385,104588
5,Hernandez High School,Government,4635,3022020,652.0,47932,319235,320679
6,Holden High School,Independent,427,248087,581.0,4412,30993,30599
7,Huang High School,Government,2917,1910635,655.0,30217,201084,201012
8,Johnson High School,Government,4761,3094650,650.0,49280,327762,328696
9,Pena High School,Independent,962,585858,609.0,9963,69349,68892
10,Rodriguez High School,Government,3999,2547363,637.0,41410,288119,283673
11,Shelton High School,Independent,1761,1056600,600.0,18234,126852,123724
12,Thomas High School,Independent,1635,1043130,638.0,16980,113766,114072
13,Wilson High School,Independent,2283,1319574,578.0,23692,157917,157246
14,Wright High School,Independent,1800,1049400,583.0,18663,129685,127745

In [801]:
School_Name_Type_df["Average Maths Score"] = School_Name_Type_df["Maths Score"]/School_Name_Type_df["Total Students"]
School_Name_Type_df["Average Maths Score"]

0     72.352894
1     71.657158
2     68.698542
3     69.091274
4     71.788147
5     68.874865
6     72.583138
7     68.935207
8     68.843100
9     72.088358
10    72.047762
11    72.034072
12    69.581651
13    69.170828
14    72.047222
Name: Average Maths Score, dtype: float64

In [802]:
School_Name_Type_df["Average Reading Score"] = School_Name_Type_df["Reading Score"]/School_Name_Type_df["Total Students"]
School_Name_Type_df["Average Reading Score"]

0     71.008842
1     71.359526
2     69.077993
3     69.572472
4     71.245232
5     69.186408
6     71.660422
7     68.910525
8     69.039277
9     71.613306
10    70.935984
11    70.257808
12    69.768807
13    68.876916
14    70.969444
Name: Average Reading Score, dtype: float64

In [853]:
per_school_summary_df = School_Name_Type_df[['School Name', 'School Type', 'Total Students','Total School Budget','Per Student Budget','Average Maths Score', 'Average Reading Score']]
per_school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526
2,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408
6,Holden High School,Independent,427,248087,581.0,72.583138,71.660422
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984
11,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808
12,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444

In [804]:
Maths_df = renamed_df[["School Name","Maths Score"]]
Maths_df

              School Name  Maths Score
0       Huang High School           94
1       Huang High School           43
2       Huang High School           76
3       Huang High School           86
4       Huang High School           69
...                   ...          ...
39165  Thomas High School           48
39166  Thomas High School           89
39167  Thomas High School           99
39168  Thomas High School           77
39169  Thomas High School           62

[39170 rows x 2 columns]

In [805]:
Passing_Maths_df = Maths_df.loc[renamed_df["Maths Score"] > 49,:]
Passing_Maths_df

              School Name  Maths Score
0       Huang High School           94
2       Huang High School           76
3       Huang High School           86
4       Huang High School           69
5       Huang High School           93
...                   ...          ...
39164  Thomas High School           79
39166  Thomas High School           89
39167  Thomas High School           99
39168  Thomas High School           77
39169  Thomas High School           62

[33717 rows x 2 columns]

In [806]:
Passing_Maths_group_df = Passing_Maths_df.groupby(["School Name"])
Passing_Maths_group_df

In [807]:
Passing_Maths_group_df.count()

                       Maths Score
School Name
Bailey High School            4560
Cabrera High School           1688
Figueroa High School          2408
Ford High School              2258
Griffin High School           1339
Hernandez High School         3752
Holden High School             384
Huang High School             2383
Johnson High School           3907
Pena High School               882
Rodriguez High School         3631
Shelton High School           1612
Thomas High School            1371
Wilson High School            1890
Wright High School            1652

In [808]:
Number_Passing_Maths_df = Passing_Maths_group_df.count()
Number_Passing_Maths_df

                       Maths Score
School Name
Bailey High School            4560
Cabrera High School           1688
Figueroa High School          2408
Ford High School              2258
Griffin High School           1339
Hernandez High School         3752
Holden High School             384
Huang High School             2383
Johnson High School           3907
Pena High School               882
Rodriguez High School         3631
Shelton High School           1612
Thomas High School            1371
Wilson High School            1890
Wright High School            1652

In [809]:
Total_students_df = School_Name_Type_df[["School Name","Total Students"]]
Total_students_df

              School Name  Total Students
0      Bailey High School            4976
1     Cabrera High School            1858
2    Figueroa High School            2949
3        Ford High School            2739
4     Griffin High School            1468
5   Hernandez High School            4635
6      Holden High School             427
7       Huang High School            2917
8     Johnson High School            4761
9        Pena High School             962
10  Rodriguez High School            3999
11    Shelton High School            1761
12     Thomas High School            1635
13     Wilson High School            2283
14     Wright High School            1800

In [810]:
combined_Passing_Maths_Total_Student_df = pd.merge(Number_Passing_Maths_df, Total_students_df,how='outer', on='School Name')
combined_Passing_Maths_Total_Student_df

              School Name  Maths Score  Total Students
0      Bailey High School         4560            4976
1     Cabrera High School         1688            1858
2    Figueroa High School         2408            2949
3        Ford High School         2258            2739
4     Griffin High School         1339            1468
5   Hernandez High School         3752            4635
6      Holden High School          384             427
7       Huang High School         2383            2917
8     Johnson High School         3907            4761
9        Pena High School          882             962
10  Rodriguez High School         3631            3999
11    Shelton High School         1612            1761
12     Thomas High School         1371            1635
13     Wilson High School         1890            2283
14     Wright High School         1652            1800

In [811]:
Percent_Passing_Maths = (combined_Passing_Maths_Total_Student_df["Maths Score"] / combined_Passing_Maths_Total_Student_df["Total Students"]) * 100
Percent_Passing_Maths

0     91.639871
1     90.850377
2     81.654798
3     82.438846
4     91.212534
5     80.949299
6     89.929742
7     81.693521
8     82.062592
9     91.683992
10    90.797699
11    91.538898
12    83.853211
13    82.785808
14    91.777778
dtype: float64

In [812]:
Percent_Passing_Maths_df = Percent_Passing_Maths
Percent_Passing_Maths_df

0     91.639871
1     90.850377
2     81.654798
3     82.438846
4     91.212534
5     80.949299
6     89.929742
7     81.693521
8     82.062592
9     91.683992
10    90.797699
11    91.538898
12    83.853211
13    82.785808
14    91.777778
dtype: float64

In [854]:
per_school_summary_df["% Passing Maths"] = Percent_Passing_Maths_df

/Users/sandrabotica/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [814]:
Reading_df = renamed_df[["School Name","Reading Score"]]
Reading_df

              School Name  Reading Score
0       Huang High School             96
1       Huang High School             90
2       Huang High School             41
3       Huang High School             89
4       Huang High School             87
...                   ...            ...
39165  Thomas High School             51
39166  Thomas High School             81
39167  Thomas High School             99
39168  Thomas High School             72
39169  Thomas High School             47

[39170 rows x 2 columns]

In [815]:
Passing_Reading_df = Reading_df.loc[renamed_df["Reading Score"] > 49,:]
Passing_Reading_df

              School Name  Reading Score
0       Huang High School             96
1       Huang High School             90
3       Huang High School             89
4       Huang High School             87
5       Huang High School             88
...                   ...            ...
39164  Thomas High School             97
39165  Thomas High School             51
39166  Thomas High School             81
39167  Thomas High School             99
39168  Thomas High School             72

[33070 rows x 2 columns]

In [816]:
Passing_Reading_group_df = Passing_Reading_df.groupby(["School Name"])
Passing_Reading_group_df

In [817]:
Passing_Reading_group_df.count()

                       Reading Score
School Name
Bailey High School              4348
Cabrera High School             1655
Figueroa High School            2442
Ford High School                2252
Griffin High School             1299
Hernandez High School           3795
Holden High School               378
Huang High School               2376
Johnson High School             3903
Pena High School                 833
Rodriguez High School           3495
Shelton High School             1527
Thomas High School              1351
Wilson High School              1856
Wright High School              1560

In [818]:
Number_Passing_Reading_df = Passing_Reading_group_df.count()
Number_Passing_Reading_df

                       Reading Score
School Name
Bailey High School              4348
Cabrera High School             1655
Figueroa High School            2442
Ford High School                2252
Griffin High School             1299
Hernandez High School           3795
Holden High School               378
Huang High School               2376
Johnson High School             3903
Pena High School                 833
Rodriguez High School           3495
Shelton High School             1527
Thomas High School              1351
Wilson High School              1856
Wright High School              1560

In [819]:
combined_Passing_Reading_Total_Student_df = pd.merge(Number_Passing_Reading_df, Total_students_df,how='outer', on='School Name')
combined_Passing_Reading_Total_Student_df

              School Name  Reading Score  Total Students
0      Bailey High School           4348            4976
1     Cabrera High School           1655            1858
2    Figueroa High School           2442            2949
3        Ford High School           2252            2739
4     Griffin High School           1299            1468
5   Hernandez High School           3795            4635
6      Holden High School            378             427
7       Huang High School           2376            2917
8     Johnson High School           3903            4761
9        Pena High School            833             962
10  Rodriguez High School           3495            3999
11    Shelton High School           1527            1761
12     Thomas High School           1351            1635
13     Wilson High School           1856            2283
14     Wright High School           1560            1800

In [820]:
Percent_Passing_Reading = (combined_Passing_Reading_Total_Student_df["Reading Score"] / combined_Passing_Maths_Total_Student_df["Total Students"]) * 100
Percent_Passing_Reading

0     87.379421
1     89.074273
2     82.807731
3     82.219788
4     88.487738
5     81.877023
6     88.524590
7     81.453548
8     81.978576
9     86.590437
10    87.396849
11    86.712095
12    82.629969
13    81.296540
14    86.666667
dtype: float64

In [821]:
Percent_Passing_Reading_df = Percent_Passing_Reading
Percent_Passing_Reading_df

0     87.379421
1     89.074273
2     82.807731
3     82.219788
4     88.487738
5     81.877023
6     88.524590
7     81.453548
8     81.978576
9     86.590437
10    87.396849
11    86.712095
12    82.629969
13    81.296540
14    86.666667
dtype: float64

In [855]:
per_school_summary_df["% Passing Reading"] = Percent_Passing_Reading_df

/Users/sandrabotica/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [856]:
per_school_summary_df.columns

Index(['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Maths Score', 'Average Reading Score',
       '% Passing Maths', '% Passing Reading'],
      dtype='object')

In [857]:
re_organized_per_school_summary_df = per_school_summary_df[['School Name', 'School Type', 'Total Students','Total School Budget','Per Student Budget','Average Maths Score', 'Average Reading Score', '% Passing Maths','% Passing Reading']]
re_organized_per_school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273
2,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023
6,Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849
11,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095
12,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667

In [825]:
Number_Passing_Maths_Reading_df=school_data_complete_df[["school_name",'maths_score','reading_score']]
Number_Passing_Maths_Reading_df

              school_name  maths_score  reading_score
0       Huang High School           94             96
1       Huang High School           43             90
2       Huang High School           76             41
3       Huang High School           86             89
4       Huang High School           69             87
...                   ...          ...            ...
39165  Thomas High School           48             51
39166  Thomas High School           89             81
39167  Thomas High School           99             99
39168  Thomas High School           77             72
39169  Thomas High School           62             47

[39170 rows x 3 columns]

In [826]:
Number_Passing_Maths_Reading_renamed_df = Number_Passing_Maths_Reading_df.rename(columns={"school_name":"School Name",'maths_score':"Maths Score",'reading_score':"Reading Score"})
Number_Passing_Maths_Reading_renamed_df

              School Name  Maths Score  Reading Score
0       Huang High School           94             96
1       Huang High School           43             90
2       Huang High School           76             41
3       Huang High School           86             89
4       Huang High School           69             87
...                   ...          ...            ...
39165  Thomas High School           48             51
39166  Thomas High School           89             81
39167  Thomas High School           99             99
39168  Thomas High School           77             72
39169  Thomas High School           62             47

[39170 rows x 3 columns]

In [835]:
maths_reading_df = Number_Passing_Maths_Reading_renamed_df.loc[(Number_Passing_Maths_Reading_renamed_df["Maths Score"] > 49) & (Number_Passing_Maths_Reading_renamed_df["Reading Score"] > 49)]
maths_reading_df

              School Name  Maths Score  Reading Score
0       Huang High School           94             96
3       Huang High School           86             89
4       Huang High School           69             87
5       Huang High School           93             88
6       Huang High School           60             73
...                   ...          ...            ...
39163  Thomas High School           86             79
39164  Thomas High School           79             97
39166  Thomas High School           89             81
39167  Thomas High School           99             99
39168  Thomas High School           77             72

[28519 rows x 3 columns]

In [838]:
passing_maths_reading = maths_reading_df.groupby(["School Name"])
passing_maths_reading.count()

                       Maths Score  Reading Score
School Name
Bailey High School            3985           3985
Cabrera High School           1501           1501
Figueroa High School          1995           1995
Ford High School              1848           1848
Griffin High School           1194           1194
Hernandez High School         3076           3076
Holden High School             337            337
Huang High School             1946           1946
Johnson High School           3199           3199
Pena High School               762            762
Rodriguez High School         3176           3176
Shelton High School           1389           1389
Thomas High School            1136           1136
Wilson High School            1540           1540
Wright High School            1435           1435

In [839]:
passing_maths_reading_df = passing_maths_reading
passing_maths_reading_df

In [846]:
combined_passing_maths_reading_df = pd.merge(passing_maths_reading.count(), Total_students_df,how='outer', on='School Name')
combined_passing_maths_reading_df

              School Name  Maths Score  Reading Score  Total Students
0      Bailey High School         3985           3985            4976
1     Cabrera High School         1501           1501            1858
2    Figueroa High School         1995           1995            2949
3        Ford High School         1848           1848            2739
4     Griffin High School         1194           1194            1468
5   Hernandez High School         3076           3076            4635
6      Holden High School          337            337             427
7       Huang High School         1946           1946            2917
8     Johnson High School         3199           3199            4761
9        Pena High School          762            762             962
10  Rodriguez High School         3176           3176            3999
11    Shelton High School         1389           1389            1761
12     Thomas High School         1136           1136            1635
13     Wilson High School         1540           1540            2283
14     Wright High School         1435           1435            1800

In [848]:
Percent_Passing_Maths_Reading_pd = (combined_passing_maths_reading_df["Reading Score"] / combined_passing_maths_reading_df["Total Students"]) * 100
Percent_Passing_Maths_Reading_pd

0     80.084405
1     80.785791
2     67.650051
3     67.469880
4     81.335150
5     66.364617
6     78.922717
7     66.712376
8     67.191766
9     79.209979
10    79.419855
11    78.875639
12    69.480122
13    67.455103
14    79.722222
dtype: float64

In [858]:
per_school_summary_df["% Overall Passing"] = Percent_Passing_Maths_Reading_pd
per_school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
2,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
6,Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
11,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
12,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [870]:
per_school_summary_df.to_csv("school_summary.csv", index = False, header=True)

In [ ]:
Bailey_High_School_df = grouped_df[['School Name', 'School Type', 'Total Students', 'Total School Budget',
       'Year', 'Maths Score', 'Reading Score']]
Cabrera_High_School_df =
Figueroa_High_School_df =
Ford_High_School_df =
Griffin_High_School_df =	
Hernandez_High_School_df =
Holden_High_School_df =
Huang_High_School_df =
Johnson_High_School_df = 
Pena_High_School_df =
Rodriguez_High_School_df =	
Shelton_High_School_df =
Thomas_High_School_df =
Wilson_High_School_df =
Wright_High_School_df =

In [ ]:
Huang_High_School_df = renamed_df.groupby["School Name", "School Type", "Total Students", "Total School Budget"]
budget_df = grouped_df.reset_index(drop=True)
budget_df.head()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [864]:
top_schools_df = per_school_summary_df.sort_values("% Overall Passing", ascending=False)
top_schools_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

In [871]:
top_schools_df.to_csv("top_schools.csv", index = False, header=True)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [865]:
bottom_schools_df = per_school_summary_df.sort_values("% Overall Passing", ascending=True)
bottom_schools_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [872]:
bottom_schools_df.to_csv("bottom_schools.csv", index = False, header=True)

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [880]:
school_data_complete_df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [881]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [903]:
renamed_school_data_complete_df = school_data_complete_df.rename(columns={"student_name":"Student Name", "gender":"Gender", "school_name":"School Name","type":"School Type","size":"Total Students","budget":"Total School Budget",'year':"Year",'maths_score':"Maths Score",'reading_score':"Reading Score"})
renamed_school_data_complete_df.head()

,Student ID,Student Name,Gender,Year,School Name,Reading Score,Maths Score,School ID,School Type,Total Students,Total School Budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [904]:
renamed_school_data_complete_df.columns

Index(['Student ID', 'Student Name', 'Gender', 'Year', 'School Name',
       'Reading Score', 'Maths Score', 'School ID', 'School Type',
       'Total Students', 'Total School Budget'],
      dtype='object')

In [935]:
year_9_df = renamed_school_data_complete_df[(renamed_school_data_complete_df["Year"] == 9)]
year_10_df = renamed_school_data_complete_df[(renamed_school_data_complete_df["Year"] == 10)]
year_11_df = renamed_school_data_complete_df[(renamed_school_data_complete_df["Year"] == 11)]
year_12_df = renamed_school_data_complete_df[(renamed_school_data_complete_df["Year"] == 12)]

In [940]:
school_year_9_maths_df=year_9_df.groupby(["School Name"]).mean()["Maths Score"]
school_year_10_maths_df=year_10_df.groupby(["School Name"]).mean()["Maths Score"]
school_year_11_maths_df=year_11_df.groupby(["School Name"]).mean()["Maths Score"]
school_year_12_maths_df=year_12_df.groupby(["School Name"]).mean()["Maths Score"]

In [941]:
school_year_9_maths_df

School Name
Bailey High School       72.493827
Cabrera High School      72.321970
Figueroa High School     68.477804
Ford High School         69.021609
Griffin High School      72.789731
Hernandez High School    68.586831
Holden High School       70.543307
Huang High School        69.081754
Johnson High School      69.469286
Pena High School         71.996364
Rodriguez High School    71.940722
Shelton High School      72.932075
Thomas High School       69.234273
Wilson High School       69.212361
Wright High School       71.741176
Name: Maths Score, dtype: float64

In [944]:
average_maths_df = pd.DataFrame ({"Year 9":school_year_9_maths_df, "Year 10":school_year_10_maths_df,"Year 11":school_year_11_maths_df, "Year 12":school_year_12_maths_df})
average_maths_df.index.name = None
average_maths_df

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [952]:
average_maths_df.to_csv("maths_scores_by_year.csv", index = False, header=True)

## Reading Score by Year

* Perform the same operations as above for reading scores

In [913]:
reading_df = renamed_school_data_complete_df[['School Name','Total Students','Year','Reading Score']]
reading_df

              School Name  Total Students  Year  Reading Score
0       Huang High School            2917     9             96
1       Huang High School            2917    12             90
2       Huang High School            2917    12             41
3       Huang High School            2917    12             89
4       Huang High School            2917     9             87
...                   ...             ...   ...            ...
39165  Thomas High School            1635    12             51
39166  Thomas High School            1635    10             81
39167  Thomas High School            1635     9             99
39168  Thomas High School            1635    10             72
39169  Thomas High School            1635    11             47

[39170 rows x 4 columns]

In [946]:
school_year_9_reading_df=year_9_df.groupby(["School Name"]).mean()["Reading Score"]
school_year_10_reading_df=year_10_df.groupby(["School Name"]).mean()["Reading Score"]
school_year_11_reading_df=year_11_df.groupby(["School Name"]).mean()["Reading Score"]
school_year_12_reading_df=year_12_df.groupby(["School Name"]).mean()["Reading Score"]

In [947]:
school_year_9_reading_df

School Name
Bailey High School       70.901920
Cabrera High School      71.172348
Figueroa High School     70.261682
Ford High School         69.615846
Griffin High School      72.026895
Hernandez High School    68.477569
Holden High School       71.598425
Huang High School        68.670616
Johnson High School      68.719286
Pena High School         70.949091
Rodriguez High School    70.902921
Shelton High School      70.715094
Thomas High School       69.672451
Wilson High School       68.683043
Wright High School       71.823529
Name: Reading Score, dtype: float64

In [948]:
average_reading_df = pd.DataFrame ({"Year 9":school_year_9_reading_df, "Year 10":school_year_10_reading_df,"Year 11":school_year_11_reading_df, "Year 12":school_year_12_reading_df})
average_reading_df.index.name = None
average_reading_df

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [951]:
average_reading_df.to_csv("reading_scores_by_year.csv", index = False, header=True)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [955]:
overall_passing_rate_df = (per_school_summary_df["% Passing Maths"] + per_school_summary_df["% Passing Reading"]) / 2
overall_passing_rate_df

0     89.509646
1     89.962325
2     82.231265
3     82.329317
4     89.850136
5     81.413161
6     89.227166
7     81.573534
8     82.020584
9     89.137214
10    89.097274
11    89.125497
12    83.241590
13    82.041174
14    89.222222
dtype: float64

In [957]:
per_school_summary_df["Overall Passing Rate"] = overall_passing_rate_df
per_school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Overall Passing Rate
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,89.509646
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,89.962325
2,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,82.231265
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,82.329317
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,89.850136
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,81.413161
6,Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,89.227166
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,81.573534
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,82.020584
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,89.137214
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,89.097274
11,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,89.125497
12,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,83.241590
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,82.041174
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,89.222222

In [959]:
school_spending_df = per_school_summary_df
spending_bins = [0,585,630,645,680]
labels=["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels, include_lowest=True)
school_spending_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Overall Passing Rate,Spending Ranges (Per Student)
0,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,89.509646,$585-630
1,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,89.962325,<$585
2,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,82.231265,$630-645
3,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,82.329317,$630-645
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,89.850136,$585-630
5,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,81.413161,$645-680
6,Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,89.227166,<$585
7,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,81.573534,$645-680
8,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,82.020584,$645-680
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,89.137214,$585-630
10,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,89.097274,$630-645
11,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,89.125497,$585-630
12,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,83.241590,$630-645
13,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,82.041174,<$585
14,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,89.222222,<$585

In [ ]:
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (School Size)"]).mean()["Average Maths Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (School Size)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (School Size)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (School Size)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (School Size)"]).mean()["% Overall Passing"]

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (School Type)"]).mean()["Average Maths Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (School Type)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (School Type)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (School Type)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (School Type)"]).mean()["% Overall Passing"]